<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-resource.min.js"></script>
    <script src="index.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arsenal:700|Merriweather" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
  </head>
  <body ng-app="git_repo_issues" ng-controller="textinputCntrl">
    <section>

    </section>
    <section class="section-background">
      <header>
        <h2> Welcome! to <span class="projectName">Git Repo Issues</span> my dear Jedi!</h2>
      </header>
      <input type="text" class="style-1" id="public-repo" placeholder="Enter Public Repo" ng-model="publicRepo" ng-disabled="saving" ng-keyup="$event.keyCode == 13 ? getIssuesCount() : null" autofocus/>
      <section>
        <h3>Message:<span ng-class="colorcode">{{openIssues.message}}</span></h3>
        <h3>Status: <span ng-class="colorcode">{{openIssues.status}}</span></h3>
        <h4>Since past 24 hours: <span class="color-yellow">{{openIssues.issues_in_last_24_hours}}</span></h4>
        <h4>Since past 7 Days: <span class="color-yellow">{{openIssues.issues_in_last_7_days}}</span></h4>
        <h4>Before 7 Days to end: <span class="color-yellow">{{openIssues.before_7_days}}</span></h4>
      </section>
    </section>

    <!-- <ng-view />
    <script type="text/ng-template" id="textinput.html">
      <section>
        <span>Github Public Repo: </span><input ng-model="publicRepo" type="text"> </input>
      </section>
    </script> -->

  </body>
</html>
